:root {
  --graphite1: #212121;
  --white: #ffffff;
  --dark-grey: #757575;
  --blue: #2196f3;
  --light-grey1: #eeeeee;
  --black: #000000;
  --light-gray2: #f5f4fa;
  --white-transp: #ffffff 60%;
  --graphite2: #2f303a;
  --light-gray3: #ececec;
  --graphite2-transp: #2f303a66;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--graphite1);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
  margin-top: 20px;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* NAVIGATION*/

.contact-icons {
  fill: currentColor;
  margin-right: 10px;
}

.flex-container {
  display: flex;
  align-items: center;
}
.site-nav {
  border-bottom: 1px solid #ececec;
}

.flex-nav {
  display: flex;
  align-items: center;
}

.background-black {
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(var(--graphite2-transp), var(--graphite2-transp)),
    url(../images/main/ovelay-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue);
}
.studio-black {
  color: var(--black);
}
.link {
  text-decoration: none;
  color: var(--graphite1);
}

.list-nav {
  color: var(--graphite1);
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.link-nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-current {
  text-decoration: none;
  color: var(--blue);
  position: relative;
}

.link-current::after {
  display: block;
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--blue);
  border-radius: 2px;
  position: absolute;
  bottom: 0px;
}

.list-nav .link-nav:focus,
.list-nav .link-nav:hover {
  color: var(--blue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-nav {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contact1 {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark-grey);
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .contact1:focus,
.list .contact1:hover {
  color: var(--blue);
}
.list .contact1:visited {
  color: var(--dark-grey);
}

/* INDEX-MAIN */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition-property: opacity, visIbility;
  transition-duration: 250ms;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  width: 528px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-container {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: left;
  color: #212121;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.contact-form-items {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

.form-item {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--dark-grey);
  margin-top: 10px;
  margin-bottom: 4px;
  position: relative;
}

.contact-fields {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-field {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 12px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-icons {
  position: absolute;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 14px;
  top: 50%;
  fill: var(--black);
}

.statements-flex {
  position: relative;
}

.option {
  display: block;
}

/* Check */

.check {
  /* padding-left: 1.2em; */
}

.check__input {
  position: relative;
  clip: rect(0 0 0 0);
  width: 16px;
  height: 15px;
  top: 27px;
  left: 0px;
  margin: -1px;
}

.check__box {
  position: absolute;
  overflow: hidden;
  border-radius: 0.05em;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  top: 25px;
}

/* Checked */

.check__input:checked + .check__box {
  background-image: url(.../images/check.svg);
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em var(--blue);
}

/* Disabled */

.check__input:disabled + .check__box {
  box-shadow: 0 0 0 0.1em #9b9b9b;
}

.check__input:checked:disabled + .check__box {
  background-color: #9b9b9b;
}

.contact-fields:hover,
.contact-fields:focus {
  outline: none;
  border-color: var(--blue);
}

.contact-fields:hover + .contact-form-icons,
.contact-fields:focus + .contact-form-icons {
  fill: var(--blue);
}

.contact-form-icons:hover {
  outline: none;
  border-color: var(--blue);
}

.feedback-field:hover,
.feedback-field:focus {
  border-color: var(--blue);
}

.statement-text {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--dark-grey);
}

.politics {
  text-decoration-line: underline;
  color: var(--blue);
}

.button-submit {
  position: relative;
  display: inline;
  top: 50px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 252px 0 252px;
}

.header1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button-index {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: inherit;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  min-width: 200px;
  border: none;
  padding: 10px 41px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content-section {
  padding-top: 0;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}

.offer-box {
  position: relative;
  overflow: hidden;
}

.offer-overlay {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}
.header3 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
}

.header4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}

.section-list-item {
  line-height: 1.71;
  color: var(--dark-grey);
  text-align: left;
}

.feauters-list {
  display: flex;
  gap: 30px;
}

.content-section3 {
  display: flex;
  gap: 30px;
}

.clients-icon {
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms, box-shadow 250ms;
}

.background-gray {
  background: var(--light-gray2);
}

.content-section4 {
  display: flex;
  gap: 30px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-section4 .clients-icon:hover,
.content-section4 .clients-icon:focus {
  color: var(--blue);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-member-item {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
}

.team-job {
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: var(--dark-grey);
}

.social-icons {
  padding: 0 32px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media2 {
  fill: currentColor;
}

.social-media:hover,
.social-media:focus {
  color: var(--white);
  background-color: var(--blue);
}

/* PORTFOLIO */

.categories-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #212121;
  background-color: var(--light-gray2);
  border: 4px;
  border-color: var(--light-gray2);
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.03em;
  font-family: inherit;
  padding: 6px 25px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:focus,
.button-portfolio:hover {
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  list-style: none;
}
.projects-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-link {
  color: inherit;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.overlay-project-box {
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-portfolio {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  bottom: 0;
  background: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(+100%);
}

.project-link:hover .overlay-portfolio,
.project-link:focus .overlay-portfolio {
  transform: translateY(0);
}

.overlay-port-descr {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white);
  margin: 0;
  padding-top: 49px;
  padding-left: 24px;
}

.project {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.overlay-project-box:hover .overlay-port-descr:hover {
  transform: translateY(0);
}

.project-box {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-grid {
  width: calc((100%-30px) / 3);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.description {
  font-size: 16px;
  line-height: 1.875;
  color: var(--dark-grey);
}

/* FOOTER */

.background-footer {
  background-color: var(--graphite2);
  padding: 60px 0;
}

.footer-items {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.studio-blue {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white);
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.location {
  font-family: 'Roboto';
  font-style: normal;
  line-height: 1.71;
  color: var(--white);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .contacts2:focus,
.list .contacts2:hover {
  color: var(--blue);
}
.list .contacts2:visited {
  color: var(--dark-grey);
}

.contacts2 {
  font-family: 'Roboto';
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts2:focus,
.contacts2:hover {
  color: var(--blue);
}

.location:focus,
.location:hover {
  color: var(--blue);
}

.contacts2:visited {
  color: var(--dark-grey);
}

.join-section {
  gap: 20px;
}

.join-us {
  color: var(--white);
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.join-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-media:hover,
.join-media:focus {
  background-color: #2196f3;
}

.newsletter-section {
  display: flex;
  position: relative;
  gap: 10px;
  align-items: center;
}

.email-field {
  position: relative;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--graphite2);
  color: var(--white);
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.button-newsletter {
  width: 200px;
  height: 50px;
  position: relative;
  padding: 0;
  left: 10px;
  top: 8px;
}
